# Resend API key (best practices: https://resend.com/docs/knowledge-base/how-to-handle-api-keys)
RESEND_API_KEY="re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Cloudflare Turnstile secret keys for testing (https://developers.cloudflare.com/turnstile/troubleshooting/testing/#test-secret-keys)
CF_TURNSTILE_SECRET_KEY="1x0000000000000000000000000000000AA" #	Always passes validation
# CF_TURNSTILE_SECRET_KEY="2x0000000000000000000000000000000AA" #	Always fails validation
# CF_TURNSTILE_SECRET_KEY="3x0000000000000000000000000000000AA" #	Returns 'token already spent' error

# https://resend.com/docs/dashboard/emails/send-test-emails
EMAIL_RECIPIENT="delivered@resend.dev"
EMAIL_SENDER="John Smith <john@smith.example>"

# https://upstash.com/docs/redis/howto/connectwithupstashredis
UPSTASH_REDIS_REST_URL="secret"
UPSTASH_REDIS_REST_TOKEN="secret"
