---
import Layout from "~/layouts/Layout.astro";

export const prerender = true;

const DESCRIPTION =
  "Sorry, the page you are looking for does not exist or has been moved.";
---

<Layout title="404 – Page Not Found" description={DESCRIPTION} indexed={false}>
  <div>
    <hgroup>
      <p>404 Error</p>
      <h1>Page Not Found</h1>
    </hgroup>
    <p>{DESCRIPTION}</p>

    <div>
      <a href="/"> Back to Home </a>
    </div>
  </div>
</Layout>
